<div *ngIf="movie">
  <h2>{{ movie.name | uppercase }} Details</h2>
  <div><span>id: </span>{{movie.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="movie.name" placeholder="name">
    </label>
  </div>
  <div>
      <label>Medium:
          <input [(ngModel)]="movie.medium" placeholder="">
        </label>
  </div>
  <button (click)="save()">save</button>
</div>

<button (click)="goBack()">go back</button>
