<div id="search-component">
    <h4>Movie Search</h4>
  
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let movie of movies$ | async" >
        <a routerLink="/detail/{{movie.id}}">
          {{movie.name}}
        </a>
      </li>
    </ul>
  </div>