<h3>Top movies</h3>
<div class="grid grid-pad">
  <a *ngFor="let movie of movies" class="col-1-4"
      routerLink="/detail/{{movie.id}}">
    <div class="module movie">
      <h4>{{movie.name}}</h4>
    </div>
  </a>
</div>

<app-movie-search></app-movie-search>



<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->